<div class="card">
    <div class="card-header">
      <h5 class="card-title" style="margin-left: 1.5ex;">Xác nhận thông tin</h5>
    </div>
  
    <!-- Table -->
    <div class="table-responsive">
      <table id="basicDatatable" class="table table-thead-bordered table-nowrap table-align-middle card-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="color: black;width: 257px;height: 40px;">Thông tin dự án</th>
            <th style="width: 780px;height: 40px;"></th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td>
              <span>Số dự án</span>
            </td>
            <td>
              <span>0459458459495</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Phiên bản thay đổi</span>
            </td>
            <td>
              <span>01</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Trạng thái</span>
            </td>
            <td>
              <span style="color: #E6A322;">Chưa đăng tải</span>
            </td>
          </tr>
        </tbody>
      </table>
      
      <table id="basicDatatable1" class="table table-thead-bordered table-nowrap table-align-middle card-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="color: black;width: 257px;height: 40px;">Thông tin cơ bản</th>
            <th style="width: 780px;height: 40px;"></th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td>
              <span>Mã QHNS</span>
            </td>
            <td>
              <span>43024923842384238482</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Tên dự án</span>
            </td>
            <td>
              <span>0459458459495</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Mục tiêu đầu tư</span>
            </td>
            <td>
              <span>01</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Quy mô đầu tư</span>
            </td>
            <td>
              <span>Chưa đăng tải</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Chủ đầu tư</span>
            </td>
            <td>
              <span>Phòng Nông Nghiệp Và Phát Triển Nông Thôn huyện Bắc Hà</span>
            </td>
          </tr>

          <tr>
            <td>
              <span>Người có thẩm quyền</span>
            </td>
            <td>
              <span>Nguyễn Văn A</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Thời gian thực hiện dự án</span>
            </td>
            <td>
              <span>05/03/2020</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Nhóm dự án</span>
            </td>
            <td>
              <span>Đầu tư & phát triển</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Hình thức quản lý dự án</span>
            </td>
            <td>
              <span>Quản lý thông qua báo cáo hàng ngày</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Hình thức đầu tư</span>
            </td>
            <td>
              <span>Theo 3 giai đoạn</span>
            </td>
          </tr>
          
          <tr>
            <td>
              <span>Có sử dụng vốn ODA?</span>
            </td>
            <td>
              <span>Không</span>
            </td>
          </tr>

          <tr>
            <td>
              <span>Địa điểm thực hiện</span>
            </td>
            <td>
              <span>Lanmark 72 - Pham Hung street - Nam Tu Liem - Ha Noi</span>
            </td>
          </tr>
        </tbody>
      </table>
      
      <table id="basicDatatable2" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="color: black;width: 257px;height: 40px;">Thông tin tổng mức đầu tư</th>
            <th style="width: 780px;height: 40px;"></th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td>
              <span>Tổng mức đầu tư</span>
            </td>
            <td>
              <span>12,000,000,000 VND</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span></span>
            </td>
            <td>
              <span>525,000 USD</span>

              <span style="margin-left: 104px;">Tỷ giá: 23,000.00</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span></span>
            </td>
            <td>
              <span>378,000 EUR</span>

              <span style="margin-left: 104px;">Tỷ giá: 26,830.00</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Nguồn vốn đối ứng</span>
            </td>
            <td>
              <span>6,000,000 VND</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Tổng mức đầu tư quy đổi về VND</span>
            </td>
            <td>
              <span>12,000,000 VND</span>

              <span style="margin-left: 84px;">14:56 14/11/2020</span>
            </td>
          </tr>
          
          <tr>
            <td>
              <span>Số tiền bằng chữ</span>
            </td>
            <td>
              <span>Mười hai tỉ đồng</span>
            </td>
          </tr>
        </tbody>
      </table>
      
      <table id="basicDatatable3" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="width: 257px;height: 40px;color: black;">Thông tin tổng mức đầu tư</th>
            <th style="width: 780px;height: 40px;"></th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td>
              <span>Số quyết định phê duyệt dự án</span>
            </td>
            <td>
              <span>02/10QDĐTCPVN-01LTKT</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Ngày phê duyệt dự án</span>
            </td>
            <td>
              <span>30/11/2020</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Cơ quan ban hành quyết định</span>
            </td>
            <td>
              <span>Bộ Kế hoạch và Đầu tư</span>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Quyết định phê duyệt</span>
            </td>
            <td>
              <h3><span class="badge badge-soft-secondary badge-pill">QuyetdinhDautu2020.....pdf</span></h3>
            </td>
          </tr>
  
          <tr>
            <td>
              <span>Dự án có hoạt động thực hiên trước</span>
            </td>
            <td>
              <span>Có</span>
            </td>
          </tr>
        </tbody>
      </table>
      <table id="basicDatatable4" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
        <thead class="thead-light">
          <tr>
            <th style="width: 1038px;height: 40px;color: black;" >Danh sách KHLCNT liên kết với dự án</th>
          </tr>
        </thead>
        <!-- Card -->
        <div class="card">                    
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-lg table-thead-bordered table-nowrap table-align-middle">
              <thead class="thead-light">
                <tr>
                  <th class="align-content-center text-center" style="max-width: 55.27px;height: 40px;">STT</th>
                  <th style="width: 253.14px;height: 40px;">Số hiệu KHLCNT</th>
                  <th style="max-width: 474.23px;height: 40px;">Tên KHLCNT</th>
                  <th style="width: 255.36px;height: 40px;" class="text-right">Tổng giá KHLCNT</th>
                </tr>
              </thead>
        
              <tbody>
                <tr>
                  <td class="text-center">
                    <span>01</span>
                  </td>
                  <td>
                    <a class="media align-items-center" href="#">
                      <div class="media-body">
                        <span class="text-primary mb-0">1452881667234<i class="text-primary" data-toggle="tooltip" data-placement="top" title="Top endorsed"></i></span>
                      </div>
                    </a>
                  </td>
                  <td>Nâng cấp hạ tầng viễn thông 5G nội địa và quốc tế trên địa bàn</td>
                  <td class="text-right">
                    <span>10,000,000,000,000</span>
                  </td>
                </tr>
        
                <tr>
                  <td class="text-center">
                    <span>02</span>
                  </td>
                  <td>
                    <a class="media align-items-center" href="#">
                      <div class="media-body">
                        <span class=" text-primary mb-0">1452881667234</span>
                      </div>
                    </a>
                  </td>
                  <td>
                    <span>Gói thầu 01: Cung cấp bách hóa, văn phòng phẩm</span>
                  </td>
                  <td class="text-right">10,000,000</td>
                </tr>
        
                <tr>
                  <td class="text-center">
                    <span>03</span>
                  </td>
                  <td>
                    <a class="media align-items-center" href="#">
                      <div class="media-body">
                        <span class=" text-primary mb-0">1452881667234</span>
                      </div>
                    </a>
                  </td>
                  <td>
                    <span>Gói thầu số 39 Mua sắm bàn ghế làm việc</span>
                  </td>
                  <td class="text-right">4,230,000,000</td>
                </tr>
        
                <tr>
                  <td class="text-center">
                    <span>04</span>
                  </td>
                  <td>
                    <a class="media align-items-center" href="#">
                      <div class="media-body">
                        <span class=" text-primary mb-0">1452881667234</span>
                      </div>
                    </a>
                  </td>
                  <td>
                    <span>Mua sắm khí oxy y tế năm 2020 </span>
                  </td>
                  <td class="text-right">46,000,000</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End Table -->
        </div>
        <!-- End Card -->
      </table>
    </div>
    <!-- End Table -->
  </div>