
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Dự án PPP | IDNE - Admin &amp; Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../../assets/img/160x160/logo 3.svg">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/vendor/icon-set/style.css">
    <link rel="stylesheet" href="../../../assets/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/vendor/flatpickr/dist/flatpickr.min.css">

    <!-- CSS Fis Template -->
    <link rel="stylesheet" href="../../../assets/css/theme.min.css">
</head>

<body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset"
      data-offset="80"
      data-hs-scrollspy-options='{
        "target": "#navbarSettings"
      }'>
    <!-- ========== HEADER ========== -->

    <header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered">
    </header>





    <!-- ========== END HEADER ========== -->
    <!-- ========== MAIN CONTENT ========== -->
    <!-- Navbar Vertical -->

    <aside id="verticalMenu" class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered">
    </aside>

    <main id="content" role="main" class="main">
        <!-- Content -->
        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row align-items-sm-end">
                    <div class="col-sm mb-2 mb-sm-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-no-gutter">
                                <li class="breadcrumb-item" data-toggle="modal" data-target="#staticBackdrop"><a class="breadcrumb-link">Dự án</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tạo dự án</li>
                            </ol>
                        </nav>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div style="width: 340px;height: 158px;" class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <button style="margin-left: 9.5rem;" type="button" class="btn btn-xs btn-pill btn-icon btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                                        <i class="tio-clear tio-lg"></i>
                                    </button>
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="staticBackdropLabel" style="margin-left: 3.5rem;">Bạn có muốn thoát ra ngoài</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p style="margin-left: 2.5rem;">Mọi dữ liệu bạn đã nhập sẽ bị mất</p>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="width: 140px;height: 40px;">Thoát</button>
                                        <button type="button" class="btn" style="background-color: #064D69;color: white;width: 140px;height: 40px;">Lưu file và thoát</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal -->

                        <h1 class="page-title">Tạo dự án PPP</h1>
                    </div>

                      <div class="dropdown col-sm-auto">
                        <a class="btn btn-white dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dự án PPP
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm-left" aria-labelledby="dropdown-menu">
                          <a class="dropdown-item active" href="../../../Layout/Pages/Lựa chọn nhà đầu tư/Add_DAPPP_LCNT.html">Tạo dự án PPP</a>
                          <a class="dropdown-item" href="../../../Layout/Pages/Lựa chọn nhà đầu tư/Add_DA_SDD.html">Dự án đầu tư có sử dụng đất</a>
                          <a class="dropdown-item" href="#">Xã hội hoá</a>
                        </div>
                      </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Page Header -->
            <!-- Step Form -->
            <form class="js-step-form js-validate"
                  data-hs-step-form-options='{
                    "progressSelector": "#addUserStepFormProgress",
                    "stepsSelector": "#addUserStepFormContent",
                    "endSelector": "#validationFormFinishBtn",
                    "isValidate": true
                  }'>
                <!-- Step -->
                <div class="row justify-content-lg-center">
                  <div class="col-lg-8">
                    <ul id="addUserStepFormProgress" class="js-step-progress step step-sm step-icon-sm step step-inline step-item-between mb-3 mb-md-5">
                      <li class="step-item" data-step="1" data-id="addThongTin">
                          <a class="step-content-wrapper" href="javascript:;"
                             data-hs-step-form-next-options='{
                              "targetSelector": "#addThongTin"
                             }'>
                              <span class="step-icon step-icon-soft-dark">01</span>
                              <div class="step-content">
                                  <small><span class="step-title" style="color: black;">Thông tin chung</span></small>
                              </div>
                          </a>
                      </li>
  
                      <li class="step-item" data-step="2" data-id="addTongMuc">
                          <a class="step-content-wrapper" href="javascript:;"
                             data-hs-step-form-next-options='{
                              "targetSelector": "#addTongMuc"
                             }'>
                              <span class="step-icon step-icon-soft-dark">02</span>
                              <div class="step-content">
                                  <small><span class="step-title">Quyết định phê duyệt</span></small>
                              </div>
                          </a>
                      </li>
                      <li class="step-item" data-step="3" data-id="addQuyetDinh">
                          <a class="step-content-wrapper" href="#addQuyetDinh;"
                             data-hs-step-form-next-options='{
                              "targetSelector": "#addQuyetDinh"
                              }'>
                              <span class="step-icon step-icon-soft-dark">03</span>
                              <div class="step-content">
                                  <small><span class="step-title">Dự kiến tiến độ triển khai</span></small>
                              </div>
                          </a>
                      </li>
                      <li class="step-item" data-step="4" data-id="addXacNhan">
                          <a class="step-content-wrapper" href="javascript:;"
                             data-hs-step-form-next-options='{
                              "targetSelector": "#addXacNhan"
                              }'>
                              <span class="step-icon step-icon-soft-dark">04</span>
                              <div class="step-content">
                                  <small><span class="step-title">Xác nhận thông tin</span></small>
                              </div>
                          </a>
                      </li>
                  </ul>
                  <!-- End Step -->
                  <!-- Content Step Form -->
                  <div class="hs-nav-scroller-unfold">
                          <div id="addUserStepFormContent">
                            <form>
                              <div id="addThongTin" class="active">
                                <div class="card card-lg mb-3 mb-lg-5">
                                  <div class="card-header">
                                    <h4 class="card-header-title">Thông tin chi tiết gói thầu</h4>
                                  </div>

                                  <div class="card-body">
                                    <div class="row form-group">
                                      <label class="input-label col-form-label col-sm-3">Trong nước/Quốc tế ?</label>

                                      <div class="col-sm-9">
                                        <div class="input-group input-group-sm-down-break">
                                          <!-- Custom Radio -->
                                          <div class="form-control mr-2">
                                            <div class="custom-control custom-radio">
                                              <input type="radio" class="custom-control-input" name="userAccountTypeRadio3" id="rdoTn">
                                              <label class="custom-control-label" for="rdoTn">Trong nước</label>
                                            </div>
                                          </div>
                                          <!-- End Custom Radio -->
                
                                          <!-- Custom Radio -->
                                          <div class="form-control ml-1">
                                            <div class="custom-control custom-radio">
                                              <input type="radio" class="custom-control-input" name="userAccountTypeRadio3" id="rdoQt">
                                              <label class="custom-control-label" for="rdoQt">Quốc tế</label>
                                            </div>
                                          </div>
                                          <!-- End Custom Radio -->
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card card-lg">
                                    <div class="card-body">
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                          <label class="col-sm-3 col-form-label input-label" for="MaLabel">Tên dự án <i style="color: red;">*</i></label>
  
                                          <div class="col-sm-9">
                                              <div class="input-group">
                                                  <input type="text" required class="form-control" name="text" id="MaLabel">
                                              </div>
                                          </div>
                                      </div>
                                      <!-- End Form Group -->
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                          <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Gói thực hiện sơ tuyển</label>
  
                                          <div class="col-sm-9">
                                            <div class="input-group input-group-sm-down-break">
                                              <!-- Custom Radio -->
                                              <div class="form-control mr-2">
                                                <div class="custom-control custom-radio">
                                                  <input type="radio" class="custom-control-input" name="userAccountTypeRadio" id="userAccountTypeRadio1">
                                                  <label class="custom-control-label" for="userAccountTypeRadio1">Có</label>
                                                </div>
                                              </div>
                                              <!-- End Custom Radio -->
                    
                                              <!-- Custom Radio -->
                                              <div class="form-control ml-1">
                                                <div class="custom-control custom-radio">
                                                  <input type="radio" class="custom-control-input" name="userAccountTypeRadio" id="userAccountTypeRadio2">
                                                  <label class="custom-control-label" for="userAccountTypeRadio2">Không</label>
                                                </div>
                                              </div>
                                              <!-- End Custom Radio -->
                                            </div>
                                          </div>
                                      </div>
                                      <!-- End Form Group -->
                                      
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                          <label for="NCTQLabel" class="col-sm-3 col-form-label input-label">Địa điểm thực hiện <i style="color: red;">*</i></label>
  
                                          <div class="col-sm-9 js-form-message" data-validate-state>
                                              <!-- Select2 -->
                                              <select class="js-select2-custom" required name="address-select"
                                                      data-hs-select2-options='{
                                                        "minimumResultsForSearch": "Infinity",
                                                        "name": "address-select",
                                                        "placeholder": "Chọn"
                                                      }'>
                                                  <option></option>
                                                  <option value="2">Hollis Clark</option>
                                                  <option value="3">Lester Howard</option>
                                                  <option value="4">George Marino</option>
                                                  <option value="5">Tyler Johnson</option>
                                                  <option value="6">Jennifer Craig</option>
                                                  <option value="7">Martha Barnwell</option>
                                                  <option value="8">Florencia Todd</option>
                                                  <option value="9">Henry Sloan</option>
                                                  <option value="10">Abigail Watson</option>
                                              </select>
                                              <!-- End Select2 -->
                                          </div>
                                      </div>
                                      <!-- End Form Group -->

                                      <!-- Form Group -->
                                      <div class="row form-group">
                                        <label class="col-sm-3 col-form-label input-label">Loại hợp đồng <i style="color: red;">*</i></label>

                                        <div class="col-sm-9 js-form-message" data-validate-state>
                                            <!-- Select2 -->
                                            <select class="js-select2-custom" required name="HD-select"
                                                    data-hs-select2-options='{
                                                      "minimumResultsForSearch": "Infinity",
                                                      "name": "HD-select",
                                                      "placeholder": "Chọn"
                                                    }'>
                                                <option></option>
                                                <option value="2">Hollis Clark</option>
                                                <option value="3">Lester Howard</option>
                                                <option value="4">George Marino</option>
                                                <option value="5">Tyler Johnson</option>
                                                <option value="6">Jennifer Craig</option>
                                                <option value="7">Martha Barnwell</option>
                                                <option value="8">Florencia Todd</option>
                                                <option value="9">Henry Sloan</option>
                                                <option value="10">Abigail Watson</option>
                                            </select>
                                            <!-- End Select2 -->
                                        </div>
                                      </div>
                                      <!-- End Form Group -->
                                      
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                          <label for="QuyMoLabel" class="col-sm-3 col-form-label input-label">Dự án khác</label>
  
                                          <div class="col-sm-9">
                                              <input type="text" class="form-control" name="QuyMo" id="QuyMoLabel">
                                          </div>
                                      </div>
                                      <!-- End Form Group -->
                                      
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                          <label for="ChuDTLabel" class="col-sm-3 col-form-label input-label">Mục tiêu đầu tư <i style="color: red;">*</i></label>
  
                                          <div class="col-sm-9">
                                              <input type="text" required class="form-control" name="ChuDauTu" id="ChuDTLabel">
                                          </div>
                                      </div>
                                      <!-- End Form Group -->
                                      
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                          <label for="NCTQLabel" class="col-sm-3 col-form-label input-label" >Người có thẩm quyền <i style="color: red;">*</i></label>
  
  
                                          <div class="col-sm-9">
                                              <input type="text" required class="form-control" name="NCTQ" id="NCTQLabel">
                                          </div>
                                      </div>
                                      <!-- End Form Group -->
                                      
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                        <label for="TGIANTHLabel" class="col-sm-3 col-form-label input-label">Thời gian thực hiện dự án<i style="color: red;">*</i></label>
                             
                                       <div id="TGIANTHLabel" class="row col-sm-9">
                                         <div class="col-md-4 js-form-message">
                                           <input type="date" class="form-control" name="NgayTH" id="NTHLabel" placeholder="dd/MM/yyyy" aria-describedby="inputGroupMergeDate" aria-label="Ngày thực hiện" required>
                                         </div>
        
                                         <div class="col-md-4 js-form-message">
                                          <input type="time" class="form-control" name="TGTH" id="TGTHLabel" placeholder="hh/mm" aria-label="Thời gian thực hiện" required>
                                         </div>
                                       </div>
                                      </div>
                                      <!-- End Form Group -->
                                      
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                          <label for="NCTQLabel" class="col-sm-3 col-form-label input-label">Lĩnh vực đầu tư <i style="color: red;">*</i></label>
  
                                          <div class="col-sm-9 js-form-message" data-validate-state>
                                              <!-- Select2 -->
                                              <select class="js-select2-custom" required name="LinhVuc"
                                                      data-hs-select2-options='{
                                                        "minimumResultsForSearch": "Infinity",
                                                        "name":"LinhVuc",
                                                        "placeholder": "Chọn"
                                                      }'>
                                                  <option label="empty"></option>
                                                  <option value="1">Bruce Maynard</option>
                                                  <option value="2">Hollis Clark</option>
                                                  <option value="3">Lester Howard</option>
                                                  <option value="4">George Marino</option>
                                                  <option value="5">Tyler Johnson</option>
                                                  <option value="6">Jennifer Craig</option>
                                                  <option value="7">Martha Barnwell</option>
                                                  <option value="8">Florencia Todd</option>
                                                  <option value="9">Henry Sloan</option>
                                                  <option value="10">Abigail Watson</option>
                                              </select>
                                              <!-- End Select2 -->
                                          </div>
                                      </div>
                                      <!-- End Form Group -->
                                      
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                          <label for="NCTQLabel" class="col-sm-3 col-form-label input-label" style="color: #595959;">Hình thức quản lý dự án<span style="color: red;">*</span></label>
  
                                          <div class="col-sm-9">
                                              <!-- Select2 -->
                                              <select class="js-select2-custom" required
                                                      data-hs-select2-options='{
                                                        "minimumResultsForSearch": "Infinity",
                                                        "placeholder": "Chọn"
                                                      }'>
                                                  <option label="empty"></option>
                                                  <option value="1">Bruce Maynard</option>
                                                  <option value="2">Hollis Clark</option>
                                                  <option value="3">Lester Howard</option>
                                                  <option value="4">George Marino</option>
                                                  <option value="5">Tyler Johnson</option>
                                                  <option value="6">Jennifer Craig</option>
                                                  <option value="7">Martha Barnwell</option>
                                                  <option value="8">Florencia Todd</option>
                                                  <option value="9">Henry Sloan</option>
                                                  <option value="10">Abigail Watson</option>
                                              </select>
                                              <!-- End Select2 -->
                                          </div>
                                      </div>
                                      <!-- End Form Group -->
                                      
                                      <!-- Form Group -->
                                      <div class="row form-group">
                                          <label for="NCTQLabel" class="col-sm-3 col-form-label input-label" style="color: #595959;">Hình thức đầu tư<span style="color: red;">*</span></label>
  
                                          <div class="col-sm-9">
                                              <!-- Select2 -->
                                              <select class="js-select2-custom" required
                                                      data-hs-select2-options='{
                                                        "minimumResultsForSearch": "Infinity",
                                                        "placeholder": "Chọn"
                                                      }'>
                                                  <option label="empty"></option>
                                                  <option value="1">Bruce Maynard</option>
                                                  <option value="2">Hollis Clark</option>
                                                  <option value="3">Lester Howard</option>
                                                  <option value="4">George Marino</option>
                                                  <option value="5">Tyler Johnson</option>
                                                  <option value="6">Jennifer Craig</option>
                                                  <option value="7">Martha Barnwell</option>
                                                  <option value="8">Florencia Todd</option>
                                                  <option value="9">Henry Sloan</option>
                                                  <option value="10">Abigail Watson</option>
                                              </select>
                                              <!-- End Select2 -->
                                          </div>
                                      </div>
                                      <!-- End Form Group -->
                                  </div>
                                </div>
                              </div>
                              <div class="navbar-vertical-footer footer">
                                <div class="row justify-content-lg-center align-items-center">
                                  <div class="col-4 mr-3">
                                    <button id="btnReturn" type="button" class="btn btn-pill"><i class="tio-back-ui"></i>Quay lại</button>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="d-flex justify-content-end">
                                      <ul class="list-inline">
                                        <li class="list-inline-item">
                                          <button style="background-color: #F5F5F5;" type="submit" id="btnLuu" class="btn btn-white" >Lưu<i class="tio-save-outlined"></i></button>
                                        </li>
                      
                                        <li class="list-inline-item">
                                          <button style="background-color: #064D69; border-color: #064D69;" type="button" id="btnNext" class="btn btn-primary">
                                                Tiếp tục <i class="tio-next-ui"></i>
                                          </button>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
  
                              <div id="addTongMuc" style="display: none;">
                                  <!-- Form Group -->
                                  <div class="row form-group">
                                      <label for="validationFormFirstNameLabel" class="col-sm-3 col-form-label input-label">First name</label>
  
                                      <div class="col-sm-9">
                                          <div class="js-form-message">
                                              <input type="password" class="form-control" name="firstName" id="validationFormFirstNameLabel" placeholder="First name" aria-label="First name" required data-msg="Please enter your first name.">
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Form Group -->
                                  <!-- Form Group -->
                                  <div class="row form-group">
                                      <label for="validationFormLastNameLabel" class="col-sm-3 col-form-label input-label">Last name</label>
  
                                      <div class="col-sm-9">
                                          <div class="js-form-message">
                                              <input type="password" class="form-control" name="lastName" id="validationFormLastNameLabel" placeholder="Last name" aria-label="Last name" required data-msg="Please enter your last name.">
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Form Group -->
                                  <!-- Form Group -->
                                  <div class="row form-group">
                                      <label for="validationFormEmailLabel" class="col-sm-3 col-form-label input-label">Email</label>
  
                                      <div class="col-sm-9">
                                          <div class="js-form-message">
                                              <input type="password" class="form-control" name="email" id="validationFormEmailLabel" placeholder="Email address" aria-label="Email address" required data-msg="Please enter a valid email address.">
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Form Group -->
                                  <!-- Footer -->
                                  <div class="d-flex align-items-center">
                                      <button type="button" class="btn btn-ghost-secondary mr-2"
                                              data-hs-step-form-prev-options='{
                                              "targetSelector": "#validationFormAccount"
                                              }'>
                                          <i class="tio-chevron-left"></i> Previous step
                                      </button>
  
                                      <div class="ml-auto">
                                          <button type="button" class="btn btn-primary"
                                                data-hs-step-form-next-options='{
                                                  "targetSelector": "#validationFormAddress"
                                                }'>
                                              Next <i class="tio-chevron-right"></i>
                                          </button>
                                      </div>
                                  </div>
                                  <!-- End Footer -->
                              </div>
  
                              <div id="addQuyetDinh" style="display: none;">
                                  <!-- Form Group -->
                                  <div class="row form-group">
                                      <label for="validationFormAddress1Label" class="col-sm-3 col-form-label input-label">Address 1</label>
  
                                      <div class="col-sm-9">
                                          <div class="js-form-message">
                                              <input type="password" class="form-control" name="address1" id="validationFormAddress1Label" placeholder="Address 1" aria-label="Address 1" required data-msg="Please enter your address.">
                                          </div>
                                      </div>
                                  </div>
                                  <!-- End Form Group -->
                                  <!-- Form Group -->
                                  <div class="row form-group">
                                      <label for="validationFormAddress2Label" class="col-sm-3 col-form-label input-label">Address 2 <span class="input-label-secondary">(Optional)</span></label>
  
                                      <div class="col-sm-9">
                                          <input type="password" class="form-control" name="address2" id="validationFormAddress2Label" placeholder="Address 2" aria-label="Address 2">
                                      </div>
                                  </div>
                                  <!-- End Form Group -->
                                  <!-- Footer -->
                                  <div class="d-sm-flex align-items-center">
                                      <button type="button" class="btn btn-ghost-secondary mb-3 mb-sm-0 mr-2"
                                              data-hs-step-form-prev-options='{
                                              "targetSelector": "#validationFormProfile"
                                              }'>
                                          <i class="tio-chevron-left"></i> Previous step
                                      </button>
  
                                      <div class="d-flex justify-content-end ml-auto">
                                          <button type="button" class="btn btn-white mr-2" data-dismiss="modal" aria-label="Close">Cancel</button>
                                          <button id="validationFormFinishBtn" type="button" class="btn btn-primary">Save Changes</button>
                                      </div>
                                  </div>
                                  <!-- End Footer -->
                              </div>
                          </div>
                          <!-- End Content Step Form -->
                          <!-- Message Body -->
                          <!-- End Message Body -->
                  </div>
                  </div>
                </div>        
            </form>
            <!-- End Step Form -->
            <!-- End Step Form -->
        </div>
        <!-- End Content -->
        <!-- End Footer -->
    </main>

    <!-- ========== END MAIN CONTENT ========== -->
    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Go to Top -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
       data-hs-go-to-options='{
         "offsetTop": 700,
         "position": {
           "init": {
             "right": 32
           },
           "show": {
             "bottom": 32
           },
           "hide": {
             "bottom": -32
           }
         }
       }'>
        <i class="tio-chevron-up"></i>
    </a>
    <!-- End Go to Top -->
    <!-- ========== END SECONDARY CONTENTS ========== -->
    <!-- JS Global Compulsory  -->
    <script src="../../../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../../assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="../../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="../../../assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside.min.js"></script>
    <script src="../../../assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="../../../assets/vendor/list.js/dist/list.min.js"></script>
    <script src="../../../assets/vendor/prism/prism.js"></script>
    <script src="../../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../../assets/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="../../../assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="../../../assets/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="../../../assets/vendor/hs-step-form/dist/hs-step-form.min.js"></script>
    <!-- JS Fis -->
    <script src="../../../assets/js/theme.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            $('.js-select2-custom').each(function () {
                var select2 = $.HSCore.components.HSSelect2.init($(this));
            });
            $('.js-step-form').each(function () {
                var stepForm = new HSStepForm($(this)).init();
            });
            // initialization of go to
            $('.js-go-to').each(function () {
                var goTo = new HSGoTo($(this)).init();
            });


            // initialization of form validation
            $('.js-validate').each(function () {
                $.HSCore.components.HSValidation.init($(this));
            });

            // initialization of select2


            // initialization of flatpickr
            $('.js-flatpickr').each(function () {
                $.HSCore.components.HSFlatpickr.init($(this));
            });

            // initialization of Input Masks
            $('.js-masked-input').each(function () {
                $.HSCore.components.HSMask.init($(this));
            });
        });
    </script>
    <script>
      $(document).on('ready', function () {
          var step = 1;
          $("#btnNext").click(function () {
              var count = $("#addUserStepFormProgress").children().length;
              if (step < count) {
                  $(this).attr("data-step", step + 1);
                  $("#addUserStepFormProgress [data-step=" + (step + 1) + "]").addClass("active");
                  var forms = $("#addUserStepFormProgress [data-step=" + (step + 1) + "]").data("id");
                  $("#addUserStepFormContent").children().hide();
                  $("#" + forms).show();
                  $("#" + forms).addClass("active");
                  step = step + 1;
              }


          });
          $("#btnReturn").click(function () {
              if (step > 1) {
                  $(this).attr("data-step", step - 1);
                  $("#addUserStepFormProgress [data-step=" + (step) + "]").removeClass("active");
                  var forms = $("#addUserStepFormProgress [data-step=" + (step - 1) + "]").data("id");
                  $("#addUserStepFormContent").children().hide();
                  $("#" + forms).show();
                  $("#" + forms).addClass("active");
                  step = step - 1;
              }
          });
      });
    </script>

    <!-- IE Support -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="../../../assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');
    </script>
    <script>
        $("#header").load("../../../Layout/Element/Header/HeaderEGP.html");
        $("#verticalMenu").load("../../../Layout/Element/Sidebar/Submenu.html");
    </script>
</body>
</html>