<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Trang chủ | IDNE - Admin &amp; Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../../favicon.svg">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/vendor/icon-set/style.css">
    <link rel="stylesheet" href="../../../assets/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/vendor/chart.js/dist/Chart.min.css">
    <link rel="stylesheet" href="../../../assets/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../../assets/vendor/ion-rangeslider/css/ion.rangeSlider.css">
    

    <!-- CSS Fis Template -->
    <link rel="stylesheet" href="../../../assets/css/theme.min.css">
  </head>

  <body class="has-navbar-vertical-aside navbar-vertical-aside-show-xl   footer-offset">
    
      <script src="../../../assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>
    

    <!-- Search Form -->
    <div id="searchDropdown" class="hs-unfold-content dropdown-unfold search-fullwidth d-md-none">
      <form class="input-group input-group-merge input-group-borderless">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="tio-search"></i>
          </div>
        </div>

        <input class="form-control rounded-0" type="search" placeholder="Search in Fis" aria-label="Search in Fis">

        <div class="input-group-append">
          <div class="input-group-text">
            <div class="hs-unfold">
              <a class="js-hs-unfold-invoker" href="javascript:;"
                 data-hs-unfold-options='{
                   "target": "#searchDropdown",
                   "type": "css-animation",
                   "animationIn": "fadeIn",
                   "hasOverlay": "rgba(46, 52, 81, 0.1)",
                   "closeBreakpoint": "md"
                 }'>
                <i class="tio-clear tio-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- End Search Form -->

    <!-- ========== HEADER ========== -->
    
      <header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered">
      </header>
    

    

    
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <!-- Navbar Vertical -->
    
    <aside id="verticalMenu3" class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered  ">
    </aside>
    

    
    <!-- End Navbar Vertical -->

    <main id="content" role="main" class="main">
      <!-- Content -->
      <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-sm mb-2 mb-sm-0">
              <h1 class="page-title">Kế hoạch lựa chọn nhà thầu</h1>
            </div>

            <div class="col-sm-auto">
              <a style="background-color: #064D69; border-color:#064D69;" class="btn btn-primary" href="Add_KeHoach.html">
                <i class="tio-add mr-1"></i> Tạo Kế hoạch
              </a>
            </div>
          </div>
          <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <!-- Card -->
        <div class="card">
          <!-- Header -->
          <div class="card-header">
            <div class="align-items-center flex-grow-1">
                <div class="row">
                  <div class="col-6 d-flex">
                    <div class="row col-md-4">                    
                      <!-- Search -->
                        <div class="input-group input-group-merge">
                          <input id="datatableSearch" type="search" class="form-control" placeholder="Số kế hoạch" aria-label="Search users">
                        </div>
                      <!-- End Search -->
                    </div>
                      <!-- Search -->
                    <div class="d-inline-block d-flex col-md-8">
                          <div class="input-group input-group-merge">
                            <input id="datatableSearch2" type="search" class="form-control" placeholder="Tên KHLCNT" aria-label="Search users">
                          </div>
                          <div class="col-auto">
                            <button class="btn btn-outline-secondary">Tìm kiếm</button>
                          </div>
                    </div>
                    <!-- <div class="col-sm-auto">
                      <button class="btn btn-soft-secondary">Tìm kiếm</button>
                    </div> -->
                    <!-- End Search -->
                  </div>
                  
                  <div class="col-md-6 text-right">
                      <!-- Filter Collapse Trigger -->
                      <div class="hs-unfold">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-white" data-toggle="modal" data-target="#exampleModal">
                          Tìm kiếm nâng cao
                        </button>
                        <!-- End Button trigger modal -->
                      </div>
                      <!-- End Filter Collapse Trigger -->
                  </div>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="form">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Tìm kiếm nâng cao</h5>
                          <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                            <i class="tio-clear tio-lg"></i>
                          </button>
                        </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <div class="card-title text-left">Tổng mức đầu tư</div>
                              <!-- Range Slider -->
                              <input class="js-ion-range-slider" type="text"
                                     data-hs-ion-range-slider-options='{
                                       "extra_classes": "range-slider-custom range-slider-indicator range-slider-grid",
                                       "type": "double",
                                       "grid": false,
                                       "hide_from_to": true,
                                       "prefix": "$",
                                       "min": 0,
                                       "max": 20000000,
                                       "from": 1000000,
                                       "to": 10000000,
                                       "result_min_target_el": "#rangeSliderExample3MinResult",
                                       "result_max_target_el": "#rangeSliderExample3MaxResult"
                                     }'>
                                     
                              <div class="row justify-content-between mt-5">
                                <div class="col-6 mb-2">
                                  <div class="input-group input-group-merge">
                                    <div class="input-group-append">
                                      <span class="input-group-text" id="vnd1">
                                        <i class="nav-icon">VND</i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" id="rangeSliderExample3MinResult" aria-describedby="vnd1">
                                  </div>
                                </div>
                                <div class="col-6 mb-2">
                                  <div class="input-group input-group-merge">
                                    <div class="input-group-append">
                                      <span class="input-group-text" id="vnd2">
                                        <i class="icon">VND</i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" id="rangeSliderExample3MaxResult" aria-describedby="vnd2">
                                  </div>
                                </div>
                              </div>
                              <!-- End Range Slider -->
                            </li>
                            <li class="list-group-item">
                              <div class="header mb-2">
                                <span class="text-left card-title">Ngày tạo dự án</span>
                              </div>
                              <div class="col-7 form-group">
                                <div class="input-group input-group-merge">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="inputGroupMergeEmailOptionalAddOn2">
                                      <i class="icon nav-icon"><img src="../../../assets/img/160x160/Text field/48px/icon/outlined/application/Vector.jpg" alt="datetime"></i>
                                    </span>
                                  </div> 
                                  <input type="text" class="js-daterangepicker form-control daterangepicker-custom-input" aria-describedby="inputGroupMergeEmailOptionalAddOn2"
                                        data-hs-daterangepicker-options='{
                                          "parentEl": "#exampleModal"
                                        }'>
                                </div>
                              </div>
                             
                            </li>
                            <li class="list-group-item">
                              <div class="mb-2 header text-left card-title">Trạng thái</div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <!-- Checkbox -->
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" id="customCheck12" class="custom-control-input" >
                                      <label class="custom-control-label" for="customCheck12">Đã đăng tải</label>
                                    </div>
                                    <!-- End Checkbox -->
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <!-- Checkbox -->
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" id="customCheck14" class="custom-control-input">
                                      <label class="custom-control-label" for="customCheck14">Chờ đăng tải</label>
                                    </div>
                                    <!-- End Checkbox -->
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <!-- Checkbox -->
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" id="customCheck15" class="custom-control-input">
                                      <label class="custom-control-label" for="customCheck15">Đã huỷ</label>
                                    </div>
                                    <!-- End Checkbox -->
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div class="header card-title mb-2">Người tạo</div>
                              <!-- Select2 -->
                              <select class="js-select2-custom"
                                      data-hs-select2-options='{
                                        "minimumResultsForSearch": "Infinity",
                                        "placeholder": "Chọn"
                                      }'>
                                    <option label="empty"></option>
                                    <option value="1">Bruce Maynard</option>
                                    <option value="2">Hollis Clark</option>
                                    <option value="3">Lester Howard</option>
                                    <option value="4">George Marino</option>
                                    <option value="5">Tyler Johnson</option>
                                    <option value="6">Jennifer Craig</option>
                                    <option value="7">Martha Barnwell</option>
                                    <option value="8">Florencia Todd</option>
                                    <option value="9">Henry Sloan</option>
                                    <option value="10">Abigail Watson</option>
                              </select>
                              <!-- End Select2 -->
                            </li>
                            <li class="list-group-item">
                              <div class="row">
                                <div class="col-md-6">
                                  <button type="button" style="border-color: #064D69;color: #064D69;" class="btn btn-white btn-dashed-outline">Làm mới</button>
                                </div>
                                <div class="col-md-6 text-right">
                                  <button type="button" class="btn btn-white" style="border-color: #064D69;background-color: #064D69;">Tìm kiếm</button>
                                </div>
                              </div>
                              
                            </li>
                          </ul>
                          <!-- End List Group -->
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <!-- End Header -->

          <!-- Table -->
          <div class="table-responsive datatable-custom">
            <table id="datatable" class="table table-borderless table-hover table-thead-bordered card-table"
                   data-hs-datatables-options='{
                     "autoWidth": false,
                     "columnDefs": [{
                        "targets": [0, 6],
                        "orderable": false
                      }],
                     "columns": [
                        null,
                        null,
                        { "width": "35%" },
                        null,
                        null,
                        null,
                        null
                      ],
                     "order": [],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 15,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input id="datatableCheckAll" type="checkbox" class= "custom-control-input">
                      <label class="custom-control-label" for="datatableCheckAll"></label>
                    </div>
                  </th>
                  <th scope="col" class="table-column-pl-0">Số dự án</th>
                  <th scope="col" style="min-width: 6rem;">Tên dự án</th>
                  <th scope="col" class="sorting">Ngày tạo</th>
                  <th scope="col" class="sorting" style="min-width: 7rem;">Người tạo</th>
                  <th scope="col" class="sorting" class="table-column-pl-0">Tổng đầu tư</th>
                  <th scope="col" class="sorting">Trạng thái</th>
                  <th scope="col" class="text-center" style="min-width: 14rem;margin-right: 19ex;" >Thao tác</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="teamDataCheck1">
                      <label class="custom-control-label" for="teamDataCheck1"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0">
                      <a data-toggle="modal" data-target="#exampleModalScrollable">1452881667234</a>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalScrollableTitle">Xác thực thông tin gói thầu</h5>
                              <button type="button" class="btn btn-xs btn-icon btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                                <i class="tio-clear tio-lg"></i>
                              </button>
                            </div>
                            <div class="modal-body">
                                <!-- Card -->
                                <div class="card">                         
                                  <!-- Table -->
                                  <div class="table-responsive">
                                    <table  id="basicDatatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                                        data-hs-datatables-options='{
                                        "scrollY": 300,
                                        "paging": false,
                                        "order": []
                                        }'>
                                      <thead class="thead-light">
                                        <tr>
                                          <th scope="col" style="width: 257px;height: 40px;">Thông tin dự án</th>
                                          <th style="width: 780px;height: 40px;"></th>
                                        </tr>
                                      </thead>
                                
                                      <tbody>
                                        <tr>
                                          <td>
                                            Mã gói thầu
                                          </td>
                                          <td>
                                            0459458459495
                                          </td>
                                        </tr>
                                
                                        <tr>
                                          <td>
                                            Tên gói thầu
                                          </td>
                                          <td>
                                            01
                                          </td>
                                        </tr>
                                
                                        <tr>
                                          <td>
                                            Cách thức đấu thầu
                                          </td>
                                          <td>
                                            Qua mạng
                                          </td>
                                        </tr>
                                
                                        <tr>
                                          <td>
                                            Trong nước/quốc tế
                                          </td>
                                          <td>
                                            
                                          </td>
                                        </tr>
                                
                                        <tr>
                                          <td>
                                            Lĩnh vực lựa chọn nhà thầu
                                          </td>
                                          <td>
                                            Kinh doanh vận tải
                                          </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Có sơ tuyển không
                                            </td>
                                            <td>
                                              Không
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Chi tiết nguồn vốn
                                            </td>
                                            <td>
                                                70% vốn đầu tư trong nước, 30% vốn đầu tư nước ngoài
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Nguồn vốn cho gói thầu
                                            </td>
                                            <td>
                                                Vốn OTP
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                Quy mô gói thầu
                                            </td>
                                            <td>
                                                Quy mô nhỏ
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Thời gian bắt đầu tổ chức LCNT
                                            </td>
                                            <td>
                                                14/08/2020
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Thời gian thực hiện hợp đồng
                                            </td>
                                            <td>
                                                25/11/2020
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Hình thức LCNT
                                            </td>
                                            <td>
                                                Đấu thầu trực tiếp
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Nguồn vốn cho gói thầu
                                            </td>
                                            <td>
                                                Vốn OTP
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Phương thức LCNT
                                            </td>
                                            <td>
                                                Đấu thầu
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Loại hợp đồng
                                            </td>
                                            <td>
                                                Hợp đồng điện tử
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Giá gói thầu
                                            </td>
                                            <td>
                                                12,000,000,000  VND
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                
                                            </td>
                                            <td>
                                                <span>525,000  USD</span>
                                                <span style="margin-left: 103px;">Tỷ giá: 23,000.00</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                
                                            </td>
                                            <td>
                                                <span>378,000  EUR</span>
                                                <span style="margin-left: 103px;">Tỷ giá: 26,830.00</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Nguồn vốn cung ứng
                                            </td>
                                            <td>
                                                6,000,000  VND
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Giá gói thầu quy đổi
                                            </td>
                                            <td>
                                                <span>12,000,000  VND</span>
                                                <span style="margin-left: 103px;">Thời gian quy đổi: 14:56 14/11/2020</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Số tiền bằng chữ
                                            </td>
                                            <td>
                                                Mười hai tỉ đồng
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Địa điểm thực hiện
                                            </td>
                                            <td>
                                                Tp. Hà Nội - Việt Nam
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Có nhiều phần/lô?
                                            </td>
                                            <td>
                                                Có
                                            </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <!-- End Table -->
                                </div>
                                <!-- End Card -->
                                <div class="card">                    
                                    <!-- Table -->
                                    <div class="table-responsive">
                                      <table class="table table-thead-bordered table-nowrap table-align-middle">
                                        <thead class="thead-light">
                                          <tr>
                                            <th class="align-content-center text-center" style="max-width: 55.27px;height: 40px;">STT</th>
                                            <th style="width: 253.14px;height: 40px;">Số hiệu KHLCNT</th>
                                            <th style="max-width: 474.23px;height: 40px;">Tên KHLCNT</th>
                                            <th style="width: 255.36px;height: 40px;" class="text-right">Tổng giá KHLCNT</th>
                                          </tr>
                                        </thead>
                                  
                                        <tbody>
                                          <tr>
                                            <td class="text-center">
                                              <span>01</span>
                                            </td>
                                            <td>
                                              <a class="media align-items-center" href="#">
                                                <div class="media-body">
                                                  <span class="text-primary mb-0">1452881667234<i class="text-primary" data-toggle="tooltip" data-placement="top" title="Top endorsed"></i></span>
                                                </div>
                                              </a>
                                            </td>
                                            <td>Nâng cấp hạ tầng viễn thông 5G nội địa và quốc tế trên địa bàn</td>
                                            <td class="text-right">
                                              <span>10,000,000,000,000</span>
                                            </td>
                                          </tr>
                                  
                                          <tr>
                                            <td class="text-center">
                                              <span>02</span>
                                            </td>
                                            <td>
                                              <a class="media align-items-center" href="#">
                                                <div class="media-body">
                                                  <span class=" text-primary mb-0">1452881667234</span>
                                                </div>
                                              </a>
                                            </td>
                                            <td>
                                              <span>Gói thầu 01: Cung cấp bách hóa, văn phòng phẩm</span>
                                            </td>
                                            <td class="text-right">10,000,000</td>
                                          </tr>
                                  
                                          <tr>
                                            <td class="text-center">
                                              <span>03</span>
                                            </td>
                                            <td>
                                              <a class="media align-items-center" href="#">
                                                <div class="media-body">
                                                  <span class=" text-primary mb-0">1452881667234</span>
                                                </div>
                                              </a>
                                            </td>
                                            <td>
                                              <span>Gói thầu số 39 Mua sắm bàn ghế làm việc</span>
                                            </td>
                                            <td class="text-right">4,230,000,000</td>
                                          </tr>
                                  
                                          <tr>
                                            <td class="text-center">
                                              <span>04</span>
                                            </td>
                                            <td>
                                              <a class="media align-items-center" href="#">
                                                <div class="media-body">
                                                  <span class=" text-primary mb-0">1452881667234</span>
                                                </div>
                                              </a>
                                            </td>
                                            <td>
                                              <span>Mua sắm khí oxy y tế năm 2020 </span>
                                            </td>
                                            <td class="text-right">46,000,000</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <!-- End Table -->
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>
                  <td>Nâng cấp hạ tầng viễn thông 5G nội địa và quốc tế trên địa bàn nội thành <p>Tp. Hà Nội và một số huyện ngoại ô thành phố trong năm 2020.</p></td>
                  <td>02/10/2019</td>
                  <td>
                    <span>Lê Văn Hải</span>
                  </td>
                  <td>
                    <span>10,000,000,000,000</span>
                  </td>
                  <td>
                    <span class="badge badge-soft-success badge-pill">Đã đăng tải</span>
                  </td>
                  <td>
                    <a class="icon tio-new-message" href="#" style="color: black;"></a>
                    <a class="icon tio-publish" href="#" style="color: black;"></a>
                    <a class="icon tio-group-senior" href="#" style="color: black;"></a>
                    <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                  </td>
                </tr>

                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="teamDataCheck2">
                      <label class="custom-control-label" for="teamDataCheck2"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0"><a href="#">1452881667234</a></td>
                  <td>Giám sát thi công xây dựng</td>
                  <td>02/10/2019</td>
                  <td>
                    <span>Lê Văn Hải</span>
                  </td>
                  <td>
                    <span>10,000,000,000,000</span>
                  </td>
                  <td>
                    <span style="margin-left: 2ex;" class="badge badge-soft-danger badge-pill align-self-center">Đã huỷ</span>
                  </td>
                  <td>
                    <a class="icon tio-new-message" href="#" style="color: black;"></a>
                    <a class="icon tio-publish" href="#" style="color: black;"></a>
                    <a class="icon tio-group-senior" href="#" style="color: black;"></a>
                    <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                  </td>
                </tr>

                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="teamDataCheck3">
                      <label class="custom-control-label" for="teamDataCheck3"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0"><a href="#">1452881667234</a></td>
                  <td>Gói thầu 01: Cung cấp bách hóa, văn phòng phẩm</td>
                  <td>02/10/2019</td>
                  <td>
                    <span>Lê Văn Hải</span>
                  </td>
                  <td>
                    <span>10,000,000,000,000</span>
                  </td>
                  <td>
                    <span class="badge badge-soft-warning badge-pill">Chờ đăng tải</span>
                  </td>
                  <td>
                    <a class="icon tio-new-message" href="#" style="color: black;"></a>
                    <a class="icon tio-publish" href="#" style="color: black;"></a>
                    <a class="icon tio-group-senior" href="#" style="color: black;"></a>
                    <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                  </td>
                </tr>

                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="teamDataCheck4">
                      <label class="custom-control-label" for="teamDataCheck4"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0"><a href="#">1452881667234</a></td>
                  <td>Gói thầu số 01: Phần xây lắp</td>
                  <td>02/09/2019</td>
                  <td>Lê Văn Hải</td>
                  <td>
                    <span>10,000,000,000,000</span>
                  </td>
                  <td>
                    <span class="badge badge-soft-warning badge-pill">Chờ đăng tải</span>
                  </td>
                  <td>
                    <a class="icon tio-new-message" href="#" style="color: black;"></a>
                    <a class="icon tio-publish" href="#" style="color: black;"></a>
                    <a class="icon tio-group-senior" href="#" style="color: black;"></a>
                    <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                  </td>
                </tr>

                <tr>
                  <td class="table-column-pr-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="teamDataCheck5">
                      <label class="custom-control-label" for="teamDataCheck5"></label>
                    </div>
                  </td>
                  <td class="table-column-pl-0"><a href="#">1452881667234</a></td>
                  <td>Tổ chức Chương trình đưa hàng Việt về khu đô thị tại thành phố Tuyên Quang</td>
                  <td>02/10/2019</td>
                  <td>
                    <span>Lê Văn Hải</span>
                  </td>
                  <td>
                    <span>10,000,000,000,000</span>
                  </td>
                  <td>
                    <span class="badge badge-soft-warning badge-pill">Chờ đăng tải</span>
                  </td>
                  <td>
                    <a class="icon tio-new-message" href="#" style="color: black;"></a>
                    <a class="icon tio-publish" href="#" style="color: black;"></a>
                    <a class="icon tio-group-senior" href="#" style="color: black;"></a>
                    <a class="icon tio-delete-outlined" href="#" style="color: black;"></a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- End Table -->

          <!-- Footer -->
          <div class="card-footer">
            <!-- Pagination -->
            <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
              <div class="col-sm mb-2 mb-sm-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                  <span class="mr-2">Trang:</span>

                  <!-- Select -->
                  <select id="datatableEntries" class="js-select2-custom"
                          data-hs-select2-options='{
                            "minimumResultsForSearch": "Infinity",
                            "customClass": "custom-select custom-select-sm custom-select-borderless",
                            "dropdownAutoWidth": true,
                            "width": true
                          }'>
                    <option value="4" selected>1</option>
                    <option value="6">2</option>
                    <option value="8">3</option>
                    <option value="12">4</option>
                  </select>
                  <!-- End Select -->

                  <span class="text-secondary mr-2">trên</span>

                  <!-- Pagination Quantity -->
                  <span id="datatableWithPaginationInfoTotalQty">50</span>
                </div>
              </div>

              <div class="col-sm-auto">
                <div class="d-flex justify-content-center justify-content-sm-end">
                  <!-- Pagination -->
                  <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                </div>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
          <!-- End Footer -->
        </div>
        <!-- End Card -->
      </div>
      <!-- End Content -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- JS Global Compulsory  -->
    <script src="../../../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../../assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="../../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="../../../assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside.min.js"></script>
    <script src="../../../assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    <script src="../../../assets/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
    <script src="../../../assets/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="../../../assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../../../assets/vendor/chart.js.extensions/chartjs-extensions.js"></script>
    <script src="../../../assets/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
    <script src="../../../assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="../../../assets/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="../../../assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../../../assets/vendor/datatables.net.extensions/select/select.min.js"></script>
    <script src="../../../assets/vendor/clipboard/dist/clipboard.min.js"></script>
    <script src="../../../assets/vendor/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    

    <!-- JS Fis -->
    <script src="../../../assets/js/theme.min.js"></script>
   

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        

        // initialization of form search
        $('.js-form-search').each(function () {
          new HSFormSearch($(this)).init()
        });

        // initialization of select2
        $('.js-select2-custom').each(function () {
          var select2 = $.HSCore.components.HSSelect2.init($(this));
        });

        // initialization of chartjs
        Chart.plugins.unregister(ChartDataLabels);

        $('.js-chart').each(function () {
          $.HSCore.components.HSChartJS.init($(this));
        });

        var updatingChart = $.HSCore.components.HSChartJS.init($('#updatingData'));

        // Call when tab is clicked
        $('[data-toggle="chart-bar"]').click(function(e) {
          let keyDataset = $(e.currentTarget).attr('data-datasets')

         if (keyDataset === 'lastWeek') {
           updatingChart.data.labels = ["Apr 22", "Apr 23", "Apr 24", "Apr 25", "Apr 26", "Apr 27", "Apr 28", "Apr 29", "Apr 30", "Apr 31"];
           updatingChart.data.datasets = [
             {
               "data": [120, 250, 300, 200, 300, 290, 350, 100, 125, 320],
               "backgroundColor": "#1890FF",
               "hoverBackgroundColor": "#1890FF",
               "borderColor": "#1890FF"
             },
             {
               "data": [250, 130, 322, 144, 129, 300, 260, 120, 260, 245, 110],
               "backgroundColor": "#e7eaf3",
               "borderColor": "#e7eaf3"
             }
           ];
           updatingChart.update();
         } else {
           updatingChart.data.labels = ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"];
           updatingChart.data.datasets = [
             {
               "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
               "backgroundColor": "#1890FF",
               "hoverBackgroundColor": "#1890FF",
               "borderColor": "#1890FF"
             },
             {
               "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
               "backgroundColor": "#e7eaf3",
               "borderColor": "#e7eaf3"
             }
           ]
           updatingChart.update();
         }
        })

        // initialization of bubble chartjs with Datalabels plugin
        $('.js-chart-datalabels').each(function () {
          $.HSCore.components.HSChartJS.init($(this), {
            plugins: [ChartDataLabels],
            options: {
              plugins: {
                datalabels: {
                  anchor: function(context) {
                    var value = context.dataset.data[context.dataIndex];
                    return value.r < 20 ? 'end' : 'center';
                  },
                  align: function(context) {
                    var value = context.dataset.data[context.dataIndex];
                    return value.r < 20 ? 'end' : 'center';
                  },
                  color: function(context) {
                    var value = context.dataset.data[context.dataIndex];
                    return value.r < 20 ? context.dataset.backgroundColor : context.dataset.color;
                  },
                  font: function(context) {
                    var value = context.dataset.data[context.dataIndex],
                      fontSize = 25;

                    if (value.r > 50) {
                      fontSize = 35;
                    }

                    if (value.r > 70) {
                      fontSize = 55;
                    }

                    return {
                      weight: 'lighter',
                      size: fontSize
                    };
                  },
                  offset: 2,
                  padding: 0
                }
              }
            },
          });
        });

        // initialization of daterangepicker
        $('.js-daterangepicker').daterangepicker();

        $('.js-daterangepicker-times').daterangepicker({
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale: {
            format: 'M/DD hh:mm A'
          }
        });

        var start = moment();
        var end = moment();

        function cb(start, end) {
          $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
        }

        $('#js-daterangepicker-predefined').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, cb);

        cb(start, end);

        // initialization of datatables
        var datatable = $.HSCore.components.HSDatatables.init($('#datatable'), {
          select: {
            style: 'multi',
            selector: 'td:first-child input[type="checkbox"]',
            classMap: {
              checkAll: '#datatableCheckAll',
              counter: '#datatableCounter',
              counterInfo: '#datatableCounterInfo'
            }
          },
          language: {
            zeroRecords: '<div class="text-center p-4">' +
                '<img class="mb-3" src="./assets/svg/illustrations/sorry.svg" alt="Image Description" style="width: 7rem;">' +
                '<p class="mb-0">No data to show</p>' +
                '</div>'
          }
        });

        $('.js-datatable-filter').on('change', function() {
          var $this = $(this),
            elVal = $this.val(),
            targetColumnIndex = $this.data('target-column-index');

          datatable.column(targetColumnIndex).search(elVal).draw();
        });

        $('#datatableSearch').on('mouseup', function (e) {
          var $input = $(this),
            oldValue = $input.val();

          if (oldValue == "") return;

          setTimeout(function(){
            var newValue = $input.val();

            if (newValue == ""){
              // Gotcha
              datatable.search('').draw();
            }
          }, 1);
        });

        // initialization of clipboard
        $('.js-clipboard').each(function() {
          var clipboard = $.HSCore.components.HSClipboard.init(this);
        });
      });
      $('.js-ion-range-slider').each(function () {
          $.HSCore.components.HSIonRangeSlider.init($(this));
        });
    </script>
    <script>
      $(document).on('ready', function () {
        // initialization of daterangepicker
        $('.js-daterangepicker').each(function () {
          var d = $.HSCore.components.HSDaterangepicker.init($(this));
        });
      });
    </script>
    <script>
      $(document).on('ready', function () {
        $.HSCore.components.HSDaterangepicker.init($('.js-daterangepicker-clear'));

          $('.js-daterangepicker-clear').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
          });

          $('.js-daterangepicker-clear').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
          });
      });
    </script>
    <script>
      $("#header").load("../../../Layout/Element/Header/HeaderEGP.html");
      $("#verticalMenu3").load("../../../Layout/Element/Sidebar/Submenu.html");
    </script>

    <!-- IE Support -->
    <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');
    </script>
  </body>
</html>